.footer-container{
    /* margin : 5% 5%; */
    /* border-color: 1px solid #000; */
    background-color: #e2dede;
}
.product-selling-customers {
    /* height : 10rem;
    width : 10rem; */
    padding: 1rem ;
    /* margin : 0 5rem; */
}

.footer-details > p{
    padding: 1rem;
}

.footer-orange-color-text{
    color:#ff5310;
}

